backports.functools-lru-cache==1.6.6
boto3==1.17.112
botocore==1.20.112
certifi==2021.10.8
chardet==4.0.0
docopt==0.6.2
futures==3.4.0
idna==2.10
jmespath==0.10.0
pipreqs==0.4.11
prompt-toolkit==1.0.15
Pygments==2.5.2
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.15
wcwidth==0.2.6
yarg==0.1.9
